@import "tailwindcss";

@theme {
  --color-wood-brown: #6B4F4B;
  --color-wood-light: #F0EAD6;
  --color-wood-accent: #C8A27C;
  --color-wood-accent-hover: #B48A64;
  --color-password-weak: #dc2626;
  --color-password-medium: #f59e0b;
  --color-password-strong: #16a34a;
  --color-nav-brown: #392618;

  --font-serif: "Playfair Display", serif;
  --font-sans: "Roboto", sans-serif;
  --font-realwood: "Realwood", sans-serif;
}

body {
  background-color: #F0EAD6; /* wood-light */
  font-family: 'Roboto', sans-serif;
  color: #392618; /* nav-brown */
}

/* Custom scrollbar for sidebar */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(107, 79, 75, 0.3); /* wood-brown with opacity */
  border-radius: 20px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: rgba(107, 79, 75, 0.5);
}
