@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #F0EAD6; /* wood-light */
}


@font-face {
  font-family: "RealwoodRegular";
  src: url("/fonts/Realwood-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "RealwoodOutline";
  src: url("/fonts/Realwood-Outline.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "RealwoodInline";
  src: url("/fonts/Realwood-Inline.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

/* Custom animations for UserProfile */
@keyframes blob {
  0% {
    transform: translate(0px, 0px) scale(1);
  }
  33% {
    transform: translate(30px, -50px) scale(1.1);
  }
  66% {
    transform: translate(-20px, 20px) scale(0.9);
  }
  100% {
    transform: translate(0px, 0px) scale(1);
  }
}

@keyframes float {
  0%, 100% {
    transform: translateY(0px);
    opacity: 0.2;
  }
  50% {
    transform: translateY(-20px);
    opacity: 0.4;
  }
}

/* Custom Scrollbar for Sidebar */
.custom-scrollbar::-webkit-scrollbar {
  width: 5px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #44403c; /* stone-700 */
  border-radius: 20px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #57534e; /* stone-600 */
}

